body{
    background: black;
}
    header#titulo1{
    font-style: 𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎;
    top: 25px;
    color: rgb(121, 133, 243);
    text-align: center;
    font-size: 25px;
    position: relative;
    z-index: 999;
}
section#sec1{
    top: 35px;
    background: rgb(40, 0, 0);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgb(248, 161, 0);
    border-color: rgb(248, 161, 0);
}
section#sec2{
    top: 35px;
    background: rgb(40, 0, 0);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgb(248, 161, 0);
    margin-top: 10px;
    border-color: rgb(248, 161, 0);
}
p{
    color:  rgb(248, 161, 0);
    margin-left: 25px;
}
p#ready{
    color: rgb(248, 161, 0);
    margin-left: 30px;
}
#nome{
    width: 90%;
    height: 22px;
    margin-left: 23px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    border-radius: 5px;
    color: rgb(255, 254, 254);
    background-color: black;
    border-color:  rgb(248, 161, 0);
}
#password1{
    width: 90%;
    height: 22px;
    margin-left: 23px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    border-radius: 5px;
    color: rgb(255, 254, 254);
    background-color: black;
    border-color:  rgb(248, 161, 0);
}
#idade{
    width: 90%;
    height: 22px;
    margin-left: 23px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    border-radius: 5px;
    color: rgb(255, 254, 254);
    background-color: black;
    border-color:  rgb(248, 161, 0);
}
#confirmar{
    width: 30%;
    margin-left: 165px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-color: rgb(248, 161, 0);
    cursor: pointer;
}
/*Horario no JS*/
div#msg{
    color: rgb(248,161,0);
    text-align: center;
}
footer{
    color: rgb(248, 161, 0); 
    text-align: center;
    font-style: italic;
}
/*Top da página*/
#topo-pagina {
    width: 100%;
    height: 40px;              
    align-items: center;   
    padding: 0 20px;       
    position: fixed;       
    top: 0;
    left: 0;
    z-index: 70;
    box-sizing: border-box;
    display: flex;            
    justify-content: center;  
    gap: 20px;                  
    padding: 20px;
    background-color: #333;
    color: white;
    font-family: sans-serif;
}
.infos {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
}
.infos:hover {
    color: #ffcc00;             
}
.infos::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffcc00;
    transition: width 0.3s;
}
.infos:hover::after {
    width: 100%;               
}
p#per{
    margin: 55px;
}
#painelinfos{
    background-color: white;
    width: 100%;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    max-height: 0;
    box-shadow: 0px 4px 10px rgb(0,0,0,0.1);
    text-align: center;
}
#painelinfos.aberto{
    max-height: 300px;
    padding: 20px 0;
}
#conteudo{
    padding: 20px;
    font-size: 1.2rem;
    color: #333;
}