body{ /* Corpo do HTML, ao ser chamado na CSS é possível definir e mudar o estilo dele (cor, animações entre outros). */
    margin-top: 100px; /* Este comando definie a margen (espaço que o elemento tomará de acordo com qual direção for escrita: left (esquerda) right (direita) e top (topo), a posição baixo se dar quando o top tem valor negativo no px ou $) podendo ser definido com px ( pixels) ou % (porcentagens). */
    background: black; /* Cor de fundo do elemento */
    color: black; /* Cor que as letras dentro do elemento podem assumir, por padrão virá sempre preto, junto com a cor do background que será branco*/
    transition: .5s ease-in-out; /* Parte de animação, dando uma transição sútil (ease-in-out, responsavel por dar uma animação mais suave).*/
}
header#titulo1{ /*Header é o "cabeçalho do projeot/documento"*/
    font-style: 𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎;  /* Comando em que permite o programador mudar o estilo da fonte (letras) do projeto/elemento todo. */
    top: 25px; /* Espaço definido no topo */
    color: rgb(121, 133, 243); /*Cor das letras*/
    text-align: center; /* Alinha os textos do elemento/documento/projeto. */
    font-size: 25px; /*Tamanho da fonte*/
    position: relative; /* Comando que define a posicão de um elemento, tendo a absolute como a posição total/definitiva.*/
}
#ready{ /* Estilo do paragrafo responsavel por perguntar se o usuario ja terminou todas as pendencias.*/
    margin: 25px;
    color:  rgb(248, 161, 0);
    margin-left: 200px;
}
#sec1{ /* Estilo da seção, descrita na parte HTML do documento*/
    top: 35px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgb(248, 161, 0);
    border-color: rgb(248, 161, 0);
}
#sec2{ /* Estilo da 2ª seção do documento */
    top: 35px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgb(248, 161, 0);
    margin-top: 10px;
    border-color: rgb(248, 161, 0);
}
div{ /* Estilos das divs, se forem codadas assim, todas as divs seguiram o mesmo padrão, não só dependendo das IDS (chaves de identificação). */
    color: rgb(248, 161, 0);
}
#aa{
    color: violet;
    margin-left: 25px;
}
#aaa{ /* Estilos do links. */
    color: violet;
}
h2{ /* Estilo do 2ª titulo. */
    margin-left: 15px;
    color:  rgb(248, 161, 0);
}
p{ /* Estilo de todos os paragrafos do documento. */
    margin: 25px;
    color:  rgb(248, 161, 0);
    margin-left: 25px;
}
#nome{ /* Estilo do input para o campo nome. */
    width: 90%;
    height: 22px;
    margin-left: 23px;
    color: rgb(255, 254, 254);
    background-color: black;
    border-color:  rgb(248, 161, 0);
}
#password1{ /* Estilo do input para o campo senha.*/
    width: 90%;
    height: 22px;
    margin-left: 23px;
    color: rgb(255, 254, 254);
    background-color: black;
    border-color:  rgb(248, 161, 0);
}
#idade{ /*Estilo do input para o campo idade*/
    width: 90%;
    height: 22px;
    margin-left: 23px;
    color: rgb(255, 254, 254);
    background-color: black;
    border-color:  rgb(248, 161, 0);
}
#confirmar{ /* Estilo do botao responsavel por enviar os dados. */
    width: 40%;
    margin-left: 150px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-color: rgb(248, 161, 0);
    cursor: pointer;
}
/*Horario no JS*/
div#msg{
    color: rgb(248,161,0);
    text-align: center;
}
footer{
    color: rgb(248, 161, 0); 
    text-align: center;
    font-style: italic;
}
/*Top da página*/
#topo-pagina {
    /* Posicionamento Fixo */
    position: fixed; /* Acompanha o headear no topo */
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 70;
    
    /* Alinhamento dos Itens (Flexbox) */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    gap: 20px;               /* Espaço entre as divs .infos */
    
    /* Estética */
    background-color: #333;
    color: white;
    font-family: sans-serif;
    
    /* Espaçamento Interno */
    padding: 0 20px;         /* 0 em cima/baixo para não estourar os 40px de altura */
    box-sizing: border-box;  /* Garante que o padding não aumente o tamanho total */
}
#painel-conteudo {
    position: fixed;
    top: 40px; /* Exatamente a altura do seu header */
    left: 500px;
    width: 50%; /*Largura inicial*/
    background-color: #333;
    z-index: 60;
    overflow: hidden;
    max-height: 0; /* Fechado */
    transition:  0.5s ease-in-out; /* Faz o efeito de 'descer' */
    box-shadow: 0px 4px 10px rgba(255, 254, 254, 0.1);
}

/* Quando o JS adiciona a classe 'aberto', ele expande */
#painel-conteudo.aberto {
    max-height: 250px; /* Altura que ele vai assumir ao abrir */
    padding: 20px 0;
}
.infos {
    cursor: pointer;
    position: relative;
    
}

/* Efeito ao passar o mouse */
.infos:hover {
    transition: 0.8s ease-in-out;
    color: #ffcc00;      
}

/*Linha que surge embaixo */
.infos::after { /* Estilo das informações descritas na HTML, como a animação, coloração e a transição. */
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffcc00;
    transition: width 0.3s;
}

.infos:hover::after {
    width: 100%;        /* A linha cresce ao passar o mouse */
}

.trilho{
    margin-left: 25px; /* Parte de tras do interruptor, ou, percurso em que a "bola" irá percorrer*/
    background-color: #696969; /*Cor da mesma*/
    width: 50px;
    height: 25px;
    border-radius: 150px; /*A definição do formato*/
    position: relative;
    cursor: pointer; /*Estilo do cursor*/
   
}
.trilho .ponteiro{
    width: 25px; /*Alavanca para ligar e desligar o modo light*/
    height: 25px;
    background-color: black;
    border-radius: 100%;
    transform: scale(0.9);
    position: absolute; /*Dá a posição absoluta*/
    left: 0; /*Faz o ponteiro começar sempre na esquerda*/
    transition: .5s; /*A animação para ele se locomover*/
}
.trilho.dark{
    background-color: #c3c3c3; /*Cor assim que ele assumir a outra cor*/
}
.trilho.dark .ponteiro{
    left: 24px; /*Até onde ele vai (A animação é proporcional)*/
    background-color: #ffff;
}

/* A partir daqui, tudo abaixo faz parte do modo dark, então os comandos repetidos servem para mudar a cor dos elementos, somente isso.*/

body.dark{
    background-color: #e4e4e4e4;
}
body.dark #sec1{
    border-color: black ;
    background-color: #0000;
    box-shadow: 3px 3px 5px black;
}
body.dark #sec2{
    border-color: black ;
    background-color: #0000;
    color: black;
    box-shadow: 3px 3px 5px black;
}
body.dark #nome{
    border-color: black ;
    background-color: #0000;
    color: black;
}
body.dark #idade{
    border-color: black ;
    background-color: #0000;
    color: black;
}
body.dark #password1{
    border-color: black ;
    background-color: #0000;
    color: black;
}
body.dark #confirmar{
    border-color: black ;
    color: black;
    background-color: #0000;
}
body.dark p{
    color: black;
    
}
body.dark #msg{
    color: black;
}
body.dark #topo-pagina{
    background: white;
    background-color: white;
    transition: 1s ease-in-out;
}
body.dark #painel-conteudo{
    transition: 1s ease-in-out;
    background-color: white;
}
body.dark .infos{
    transition: 1s ease-in-out;
    color: black;
}
body.dark .infos::after{
    background-color: black;
}
body.dark h2{
    color: black;
}
body.dark #msgD{
    transition: 1s ease-in-out;
    color: black;
}    
body.dark #ready{
    color: black;
}
body.dark #aaa{
    color: rgb(17, 0, 110);
}
/* Fim da transição de modos*/